body {
	background-color: #34314c;
}

.cool {
	font-family: 'Open Sans', sans-serif;
	font-size: 100pt;
	color: #D499B9;
	display: flex;
	justify-content: center;
	align-items: center;

}

label {
	font-family: 'Open Sans', sans-serif;
	position: absolute;
	margin-top: -1%;
	color: #47b8e0;
}


.corps {
	margin-top: 15%;
	text-align: center;

}

#message3 {

	background-color: #9055A2;
	height: 100vh;
}

.error {
	background-color: #ff7473;
	height: 30px;
}

.error p {
	margin-top: 0%;
	text-align: center;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}

select, input, .verif {
	background-color: #34314c;
	color: #47b8e0;
	font-size: 1.2em;
	padding: 10px;
	margin: 10px auto;
	border: #47b8e0 solid 1px;
}

.restart {
	border-radius: 50%;
	height: 100px;
	width: 100px;
	background-color: #D499B9;
	border:#D499B9;
	float: right;

}


